@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .toggle-line {
        @apply w-full h-[0.14rem] rounded-lg bg-primary transition-all;
    }

    .btn {
        @apply inline-block px-9 py-2 relative z-10 border-[0.01rem] border-solid border-primary font-semibold capitalize tracking-wide overflow-hidden transition-all duration-[0.53s] cursor-pointer;
    }

    .btn-has-bg {
        @apply before:content-[''] before:w-full before:h-full before:absolute before:top-0 before:left-0 before:bg-primary text-white before:-z-[5] before:transition-all before:duration-[0.53s] hover:before:left-[-100%] hover:text-primary;
    }

    .btn-no-bg {
        @apply border-[0.1rem] border-solid border-primary text-primary before:content-[''] before:w-full before:h-full before:absolute before:top-0 before:right-[-100%] before:-z-[5] before:bg-primary before:transition-all before:duration-[0.53s] hover:before:right-0 hover:text-white;
    }

    .input-contact {
        @apply w-full py-3 px-5 outline-none border-none rounded-md bg-inputs md:text-lg placeholder:capitalize;
    }
}

@import "./assets/fonts/index.css";
@import "./assets/icons/fontello.css";

::-webkit-scrollbar {
    display: none;
}

body {
    /* height: 20000px; */
    font-family: "Roboto", sans-serif;
    overflow-x: hidden !important;
}

header {
    padding-bottom: min(5vh, 4rem);
}

@media (min-height: 100px) {
    header {
        padding-top: min(30vh, 7rem);
    }
}

@media (min-height: 319px) {
    header {
        padding-top: min(24.5vh, 7rem);
    }
}

section {
    padding-top: min(7.5vh, 5rem);
    padding-bottom: min(4vh, 2.5rem);
    scroll-padding-top: 0;
}

@media (min-height: 1280px) {
    section {
        padding-top: min(4.5vh, 5rem);
    }
}

@media (min-width: 572px) {
    .chn-text-mq {
        text-align: start;
    }
}

.shadow-top {
    box-shadow: 0 -15px 150px 25px #2554c7;
}

.overlay-project {
    background-color: rgba(0, 0, 0, 0.753);
}